<gridster [options]="options" *ngIf="board.title">
    <!--<gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="button-holder">
            <button mat-mini-fab (mousedown)="removeItem($event, item)"
                    (touchstart)="removeItem($event, item)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </gridster-item>-->
    <div *ngFor="let row of board.rows; let r = index">
        <gridster-item *ngFor="let col of row.columns; let c = index" [item]="col">
            <app-grid-cell *ngFor="let gadget of col.gadgets"
                           [gadgetInstanceId]="gadget.instanceId"
                           [gadgetConfig]="gadget.config"
                           [gadgetType]="gadget.componentType"
                           [gadgetTags]="gadget.tags">
            </app-grid-cell>
        </gridster-item>
    </div>
</gridster>
<app-toast></app-toast>
